<header class="header">
    <div class="header__logo"><a href="/">News Here</a></div>
    <div class="header__search">

        <form action="/" method="post">
            <input type="text" name="search" placeholder="Search for news" required>
            <input type="submit" value="Search">
        </form>
        
    </div>
</header>